<ion-view view-title="Dashboard">
  <ion-content class="padding">
      <div class="item item-divider bar bar-header bar-positive">Upcoming</div>
    <div class="list">
      <div class="item">
        Losartan
      </div>
      <div class="item">
        Omeprazole
      </div>
      <div class="item">
        Levothyroxine
      </div>
      <div class="item">
        Troegenator
      </div>
    </div>
    </div>
    <div class="list card">
      <div class="item item-divider bar bar-header bar-positive">Reminders</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>

    <div class="list card ">

      <div class="item item-divider bar bar-header bar-assertive">Alerts</div>
      <div class="list">
        <div class="item">
          You skipped your morning pills!
        </div>
        <div class="item">
          You have 2 days supply of Losartan
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
